<h2><%= @sub.title %></h2>
<br><%= @sub.description %>

<% if current_user.id == @sub.moderator_id %>
<br><%= link_to "Edit Subforum", edit_sub_url(@sub) %>
<% end %>

<ul>
<% @sub.posts.each do |post| %>
  <li><%= link_to post.title, post_url(post) %></li>
<% end %>
</ul>

<%= link_to "Back to Sub Index", subs_url %>